html {
  font-size: responsive 8px 10px;
  height: 100%;
}

body {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: $gray-dark;
  overflow-x: hidden;
  visibility: visible;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
  color: white;
  text-align: center;
}

$button-background: $red;
$button-color: $blue;
$button-color-dark: darken($button-color, 5%);

button {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 0;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $button-color;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px $button-color-dark, 0 12px 5px #000;
  transition: all 0.1s ease-in-out;
  background-color: $button-background;
  color: $gray-white;
  text-decoration: none;

  &:hover {
    top: 1px;
    box-shadow: 0px 4px 0px 0px $button-color-dark, 0 11px 5px #000;
  }

  &:active {
    top: 10px;
    box-shadow: 0px 2px 0px 0px $button-color-dark, 0 9px 5px #000;
  }

  &:focus {
    outline: 0;
  }
}

a {
  color: $blue;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
